<div class="screen-container">
    <app-header></app-header>

    <div class="balance-car">

    </div>

    <div class="card fincance-status">

    </div>

    <div class="card quick-send">
        <div class="card quick-send-section">
            <h3>Quick Send</h3>
            <div class="quick-send-profiles">
                <div class="profile-item add-button">
                    <button class="add-btn">+</button>
                    <span>Add</span>
                </div>
        
                <div class="profile-item">
                    <img src="/avatar1.png" alt="Roberto">
                    <span>Roberto</span>
                </div>
        
                <div class="profile-item">
                    <img src="/avatar3.png" alt="Jenda">
                    <span>Jenda</span>
                </div>
        
                <div class="profile-item">
                    <img src="/avatar2.png" alt="Alberto">
                    <span>Alberto</span>
                </div>
        
                <div class="profile-item">
                    <img src="/avatar4.png" alt="Marvie">
                    <span>Marvie</span>
                </div>
        
                </div>
        </div>
    </div>

    <div class="card transaction-list">

    </div>
    
    <footer class="bottom-nav">
        <a routerLink="/home" routerLinkActive="active" class="nav-item">
            <img src="/home.png" alt="Home">
            <span>Home</span>
        </a>
        <a routerLink="/extrato" routerLinkActive="active" class="nav-item">
            <img src="/grafico.png" alt="Statistics">
            <span>Extrato</span>
        </a>
        <a routerLink="/transactions" routerLinkActive="active" class="nav-item">
            <img src="/carteira.png" alt="Transactions">
            <span>Transactions</span>
        </a>
        <!-- <a routerLink="/profile" routerLinkActive="active" class="nav-item">
            <img src="/perfil.png" alt="Profile">
            <span>Profile</span>
        </a> -->
    </footer>
</div>
