.card {
    background-color: var(--color-card);
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
    color: var(--color-text-light); 
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, opacity 0.3s;
}

.btn-primary:hover:not(:disabled) {
    background-color: #6a64ff;
}

.btn-primary:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.input-label {
  color: var(--color-text-secondary);
}

/* Estilo para a caixa de seleção principal para adicionar a seta */
.transaction-select {
  /* Este estilo SVG é para a seta do SELECT e é aplicado pela classe. */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none' stroke='%23AAAAAA'%3e%3cpath d='M7 7l3 3 3-3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1.5em 1.5em;
}