<div class="container">
  <app-image-carousel></app-image-carousel>
    <form id="form1">
        <img id="logo" src="logo.png" alt="">
    
         <!-- Campo usuário -->
        <div class="input-icon">
          <img src="usuario.png" alt="Ícone usuário" class="icone-esquerda">
          <input type="text" id="nome" name="nome" placeholder="Insira seu login" required>
    
        </div>
    
        <!-- Campo senha -->
        <div class="input-icon">
          <img src="cadeado.png" alt="Ícone cadeado" class="icone-esquerda">
          <input type="password" id="senha" name="senha" placeholder="Insira sua senha" required>
          <img src="olho.png" alt="Ícone mostrar senha" class="icone-direita" id="toggleSenha">
        </div>

         <input type="submit" value="Entrar" >
    
    </form>
    
    </div>
    
    