.profile-container {
    position: relative;
    width: 60px; /* Tamanho do container */
    height: 60px;
    cursor: pointer;
}

.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Redondo */
    object-fit: cover;
    border: 3px solid #007bff; /* Borda angular */
}

.edit-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 12px;
}